@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1e1f22;
  color: white;
  font-family: system-ui, sans-serif;
}

.crimson-card {
  background: radial-gradient(circle at top left, #9A1535, #300712);
}

.modal-backdrop {
  backdrop-filter: blur(12px);
}